/* Smaller Computer Screens (1024px to 1200px) */
@media only screen and (max-width: 1200px) {
	
	h1 { font-size: 200%; }

	h2 { font-size: 125%; }

	.banner {
		width: 90%;
		margin-top: 30px;
	}

	.description {
		width: 90%;
	}

	.description-col {
		/*display: inline-block;*/
		/*height: 175px;*/
		margin: 0 3px;
		/*padding: 15px;*/
	}

	.intro {
		line-height: 170%;
		text-align: justify;
		font-size: 88%;
		/*letter-spacing: 1px;*/
	}

	/*.btn {*/
		/* There's gotta be a much better way to do this:; */
		/*margin-left: 70px;*/
	/*}*/

}

/* Tablets (768px to 1023px) */
@media only screen and (max-width: 1023px) {
	
	h1 { font-size: 200%; }

	h2 { font-size: 100%; }

	.mobile-nav-icon {
		/*display: inline-block;*/
		margin-left: 10px;
	}

	.banner {
		width: 90%;
		margin-top: 30px;
	}

	.description {
		width: 90%;
	}

	.description-col {
		/*display: inline-block;*/
		/*height: 175px;*/
		margin: 0 1px;
		/*padding: 15px;*/
	}

	.intro {
		/*line-height: 150%;*/
		/*text-align: justify;*/
		font-size: 80%;
		/*letter-spacing: 1px;*/
	}

	.btn {
		/* There's gotta be a much better way to do this:; */
		margin-left: 30px;
	}

	.open-logo {
		height: 15px;
		margin-bottom: -5px;
	}

	/*.nav-right li {*/
		/*display: inline-block;*/
		/*margin-bottom: 15px;*/
		/*margin-left: 40px;*/
	/*}*/
}

/* Medium Phones (481px to 767px) */
@media only screen and (max-width: 767px) {

}

/*Small Phones (480px or less (usually 320px min)) */
@media only screen and (max-width: 480px) {
	.mobile-nav-icon {
		
	}

	
}