/* Smaller Computer Screens (1024px to 1200px) */
@media only screen and (max-width: 1200px) {
	
	h1 { font-size: 200%; }

	h2 { font-size: 125%; }

	.banner {
		width: 90%;
		/*height: 125px;*/
		margin-top: 30px;
		/*padding: 6px;*/
	}

	.banner-text {
		padding-top: 30px;
	}

}

/* Tablets (768px to 1023px) */
@media only screen and (max-width: 1023px) {
	.mobile-nav-icon {
		/*display: inline-block;*/
		margin-left: 10px;
	}

	/*.nav-right li {*/
		/*display: inline-block;*/
		/*margin-bottom: 15px;*/
		/*margin-left: 40px;*/
	/*}*/
}

/* Medium Phones (481px to 767px) */
@media only screen and (max-width: 767px) {

}

/*Small Phones (480px or less (usually 320px min)) */
@media only screen and (max-width: 480px) {
	.mobile-nav-icon {
		
	}

	
}