/* Break points based on when aesthetic issues occur, not device sizes. */

/* 1024 to 1420 */
@media only screen and (max-width: 1420px) {
	
	h1 { font-size: 200%; }

	h2 { font-size: 125%; }

	.banner {
		width: 90%;
		margin-top: 30px;
	}

	.description {
		width: 90%;
	}

	.description-col {
		margin: 0 3px;
		background: rgba(0, 0, 0, 0.5);
	}

	.intro {
		line-height: 170%;
		text-align: justify;
		font-size: 88%;
	}

}

/* 800 to 1023 */
@media only screen and (max-width: 1023px) {
	
	/*h1 { font-size: 200%; }*/

	h2 { font-size: 100%; }

	.mobile-nav-icon {
		/*display: inline-block;*/
		margin-left: 10px;
	}

	.banner {
		width: 90%;
		margin-top: 30px;
	}

	.description {
		width: 90%;
	}

	.description-col {
		/*display: inline-block;*/
		/*height: 175px;*/
		margin: 0 1px;
		/*padding: 15px;*/
	}

	.intro {
		/*line-height: 150%;*/
		/*text-align: justify;*/
		font-size: 80%;
		/*letter-spacing: 1px;*/
	}

	/*.btn {*/
		/* There's gotta be a much better way to do this:; */
		/*margin-left: 30px;*/
	/*}*/

	.open-logo {
		height: 15px;
		margin-bottom: -5px;
	}

	/*.nav-right li {*/
		/*display: inline-block;*/
		/*margin-bottom: 15px;*/
		/*margin-left: 40px;*/
	/*}*/
}


@media only screen and (max-width: 800px) {

	.description-col {
		display: block;
		width: 50%;
		/*height: 175px;*/
		margin: 10px auto;
		/*padding: 15px;*/
	}

	.description {
		margin-bottom: 100px;
	}

}

/* (Usually 320px min) */
@media only screen and (max-width: 480px) {
	.mobile-nav-icon {
		
	}

	
}